
             body {
               text-align: center;
             }
             
             .navigation {
                font-family: 'DM Sans', Arial, sans-serif;
                margin: 0;
                padding: 0;
                background: #fff;
            }

             
             .navigation a{
                background: lightskyblue;
                border: 1px solid white;
                border-radius: 20px;
                color: white;
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                text-align: left;
                transition: 0.5s;
            }

            .navigation a:hover {
                background: white;
                border: 1px solid lightskyblue;
                border-radius: 20px;
                color: lightskyblue;
                display: inline-block;
                padding: 10px;
                text-decoration: none;
                transition: 0.5s;
            }

            h1 {
            font-size: 40pt;
            }

             .wishlist-heading {
                font-family: "BBH Sans Bogle", sans-serif;
                font-weight: 400;
                font-style: normal;
             }

             .paragraph {
                font-family: "Oswald", Arial, sans-serif;
                font-weight: 325;
                font-style: normal;
             }

             .logo-image {
                width: 75px;
                height: auto;
             }
